body {
    background-color: #ececf6;
}

.navbar {
    margin-bottom: 25px;
}

.card-img-top {
    height: 150px;
    object-fit: cover;
}

a {
    color: #1d2124;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
}
 .button2 {background-color: #008CBA;} /* Blue */
