{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div id="finalScore">
            <h3 id="image"></h3>
            <h3 id="question"></h3>
            <div id="choices"></div>
            <button id="submitButton"></button>
            <h3 id=answer></h3>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        var game = [{
            "image":"{{ url_for('static', filename='images/topic1/six2.png') }}",
            "question": "3+3 = ?",
            "choices": ["6", "7", "8"],
            "correct": "A"
        }, {
            "image":"{{ url_for('static', filename='images/topic1/ten2.png') }}",
            "question": "5+5 = ?",
            "choices": ["9", "10", "12"],
            "correct": "B"
        }, {
            "image":"{{ url_for('static', filename='images/topic1/two2.png') }}",
            "question": "1+1 = ?",
            "choices": ["1", "2", "3"],
            "correct": "B"
        }, {
            "image":"{{ url_for('static', filename='images/topic1/fourteen2.png') }}",
            "question": "7+7 = ?",
            "choices": ["12", "13", "14"],
            "correct": "C"
        }, {
            "image":"{{ url_for('static', filename='images/topic1/fifteen2.png') }}",
            "question": "9+6 = ?",
            "choices": ["15", "17", "19"],
            "correct": "A"
        },{
            "image":"{{ url_for('static', filename='images/topic1/three2.png') }}",
            "question": "5-2 = ?",
            "choices": ["5", "4", "3"],
            "correct": "C"
        },{
            "image":"{{ url_for('static', filename='images/topic1/nine2.png') }}",
            "question": "12-3 = ?",
            "choices": ["8", "9", "10"],
            "correct": "B"
        },{
            "image":"{{ url_for('static', filename='images/topic1/zero2.png') }}",
            "question": "3-3 = ?",
            "choices": ["1", "3", "0"],
            "correct": "C"
        },{
            "image":"{{ url_for('static', filename='images/topic1/eleven2.png') }}",
            "question": "12-1 = ?",
            "choices": ["10", "11", "12"],
            "correct": "B"
        },{
            "image":"{{ url_for('static', filename='images/topic1/thirteen2.png') }}",
            "question": "15-2 = ?",
            "choices": ["12", "13", "14"],
            "correct": "B"
        }
        ];

        var finalScore = $("finalScore"),
            image=$("image"),
            question = $("question"),
            choices = $("choices"),
            submitButton = $("submitButton"),
            answer = $("answer");;

        function $(ID) { return document.getElementById(ID);}

        var order = [];	// order randomly each time
        for (var i=0; i<game.length; i++) { order[i] = i; }
        for (var i=0; i<order.length; i++) {
            var m = Math.round(Math.random()*order.length);
            var tmp = order[m];
            order[m] = order[i];
            order[i] = tmp;
        }
        var curQuestion = 0,
            correct = 0,
            askingQuestion = true;

        function startGame() {
            image.innerHTML  ="<img src='" + game[order[curQuestion]].image + "'  width='350' height='300'/><br>"

            question.innerHTML = "Question "+(curQuestion + 1) + " of " +game.length+"<br>"+
                game[order[curQuestion]].question;

            var choiceA = game[order[curQuestion]].choices[0];
            var choiceB = game[order[curQuestion]].choices[1];
            var choiceC = game[order[curQuestion]].choices[2];

            choices.innerHTML  = "<label><input type='radio' name='game" + curQuestion +"' value='A'>" +choiceA+"</label><br>";
            choices.innerHTML += "<label><input type='radio' name='game"+ curQuestion +"' value='B'> "+choiceB+"</label><br>";
            choices.innerHTML += "<label><input type='radio' name='game"+ curQuestion +"' value='C'> "+choiceC+"</label><br>";

            if (askingQuestion) {
                submitButton.textContent = "Answer";
            }
        }

        function checkAnswer() {

            if (askingQuestion) {
                submitButton.textContent = "Go To The Next Question";
                askingQuestion = false;

                var selected, thisChoice = document.getElementsByName("game" + curQuestion);
                for (var i = 0; i < thisChoice.length; i++) {
                    if (thisChoice[i].checked) {
                        selected = thisChoice[i].value;
                    }
                }

                if (selected == game[order[curQuestion]].correct) {
                    correct++;
                    answer.innerHTML += "<img src='{{ url_for('static', filename='images/true.png') }}'>"}
                else {
                    answer.innerHTML += "<img src='{{ url_for('static', filename='images/false.png') }}'>"}
            }
            else {
                askingQuestion = true;
                submitButton.textContent = "Answer";
                if (curQuestion < game.length - 1) {
                    curQuestion++;
                    startGame();
                } else {
                    showResult();
                }
            }
        }

        function showResult() {

            if (correct<game.length/2){
                finalScore.innerHTML  = "<h2>You answered " + correct + " out of " + game.length + " correctly! </h2>";
                finalScore.innerHTML += "<img width='650' height='500' src='{{ url_for('static', filename='images/fail.png') }}'>"
                finalScore.innerHTML +="<a class='button' href='{{ url_for('t1AddSub') }}'>Try Again</a>"
                finalScore.innerHTML +="<a class='button button2' href='{{ url_for('videoAddSub') }}'>Watch a video</a>"
            }
            else{
                finalScore.innerHTML = "<h2>You answered " + correct + " out of " + game.length + " correctly! </h2>";
                finalScore.innerHTML += "<img width='650' height='500' src='{{ url_for('static', filename='images/pass.png') }}'>"
                finalScore.innerHTML +="<a class='button' href='{{ url_for('mainPage') }}'>Go Back</a>"
            }
        }
        window.onload = function() {startGame();}
        submitButton.addEventListener("click", checkAnswer, false);
    </script>
{% endblock %}