{% extends "base.html" %}

{% block content %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
{% endblock %}
    <div class="container">
      <div id="finalScore">
        <h3 id="question"></h3>
        <div id="choices"></div>
        <button id="submitButton"></button>
        <h3 id=answer></h3>
      </div>
    </div>
{% endblock %}

{% block script %}
<script>
var game = [{
  "question": "Which of these clocks shows the time 12:00?",
  "choices": ["{{ url_for('static', filename='images/topic2/clock1.png') }}",
	"{{ url_for('static', filename='images/topic2/clock2.png') }}",
	 	"{{ url_for('static', filename='images/topic2/clock3.png') }}"],
  "correct": "A"
}, {
  "question": "Which of these clocks shows the time 9:00?",
  "choices": ["{{ url_for('static', filename='images/topic2/clock1.png') }}",
	  "{{ url_for('static', filename='images/topic2/clock4.png') }}",
	  "{{ url_for('static', filename='images/topic2/clock2.png') }}"],
  "correct": "B"
}, {
  "question": "Which of these Digital clocks shows the time 1:30?",
  "choices": ["{{ url_for('static', filename='images/topic2/digital1.png') }}",
	  "{{ url_for('static', filename='images/topic2/digital2.png') }}",
			  "{{ url_for('static', filename='images/topic2/digital3.png') }}"],
  "correct": "C"
}, {
  "question": "Which of these Digital clocks shows the time 2:30?",
  "choices": ["{{ url_for('static', filename='images/topic2/digital2.png') }}",
"{{ url_for('static', filename='images/topic2/digital3.png') }}",
		  "{{ url_for('static', filename='images/topic2/digital4.png') }}"],
  "correct": "C"
}, {
  "question": "Which of these clocks shows the time 12:15?",
  "choices": ["{{ url_for('static', filename='images/topic2/clock3.png') }}",
	  "{{ url_for('static', filename='images/topic2/clock1.png') }}",
	  "{{ url_for('static', filename='images/topic2/clock2.png') }}"],
  "correct": "C"
},{
  "question": "Which of these Digital clocks shows the time 1:00?",
  "choices": ["{{ url_for('static', filename='images/topic2/digital1.png') }}",
	  "{{ url_for('static', filename='images/topic2/digital3.png') }}",
			  "{{ url_for('static', filename='images/topic2/digital2.png') }}"],
  "correct": "A"
},{
	  "question": "Which of these Digital clocks shows the time 5:00?",
	  "choices": ["{{ url_for('static', filename='images/topic2/digital5.png') }}",
		  "{{ url_for('static', filename='images/topic2/digital6.png') }}",
		  "{{ url_for('static', filename='images/topic2/digital7.png') }}"],
	  "correct": "A"
},{
	  "question": "Which of these clocks shows the time 11:25?",
	  "choices": ["{{ url_for('static', filename='images/topic2/clock6.png') }}",
		  "{{ url_for('static', filename='images/topic2/clock5.png') }}",
		  "{{ url_for('static', filename='images/topic2/clock4.png') }}"],
	  "correct": "B"
},{
	"question": "Which of these Digital clocks shows the time 7:30?",
	  "choices": ["{{ url_for('static', filename='images/topic2/digital7.png') }}",
		  "{{ url_for('static', filename='images/topic2/digital6.png') }}",
		  "{{ url_for('static', filename='images/topic2/digital5.png') }}"],
	  "correct": "B"
},{
	"question": "Which of these clocks shows the time 8:35?",
	"choices": ["{{ url_for('static', filename='images/topic2/clock4.png') }}",
		  "{{ url_for('static', filename='images/topic2/clock6.png') }}",
		  "{{ url_for('static', filename='images/topic2/clock5.png') }}"],
	  "correct": "B"
}
	];

var finalScore = $("finalScore"),
  question = $("question"),
  choices = $("choices"),
  submitButton = $("submitButton"),
  answer = $("answer");;

  function $(ID) { return document.getElementById(ID);}

  var order = [];	// order randomly each time
  for (var i=0; i<game.length; i++) { order[i] = i; }
  for (var i=0; i<order.length; i++) {
    var m = Math.round(Math.random()*order.length);
    var tmp = order[m];
    order[m] = order[i];
    order[i] = tmp;
  }
  var curQuestion = 0,
  correct = 0,
  askingQuestion = true;

function startGame() {

  question.innerHTML = "Question "+(curQuestion + 1) + " of " +game.length+"<br>"+
	    game[order[curQuestion]].question;

  var choice = game[order[curQuestion]].choices,
    choicesHtml = "";

	  var choiceA = game[order[curQuestion]].choices[0];
	  var choiceB = game[order[curQuestion]].choices[1];
	  var choiceC = game[order[curQuestion]].choices[2];

  choices.innerHTML  = "<label><input type='radio' name='game" + curQuestion +"' value='A'><img src='" + choiceA + "'  width='200' height='200'/></label>";
  choices.innerHTML += "<label><input type='radio' name='game"+ curQuestion +"' value='B'><img src='" + choiceB + "'  width='200' height='200'/></label>";
  choices.innerHTML += "<label><input type='radio' name='game"+ curQuestion +"' value='C'><img src='" + choiceC + "'  width='200' height='200'/></label><br>";

  if (askingQuestion) {
    submitButton.textContent = "Answer";
  }
}

function checkAnswer() {

  if (askingQuestion) {
	  submitButton.textContent = "Go To The Next Question";
	  askingQuestion = false;

	var selected, thisChoice = document.getElementsByName("game" + curQuestion);
	for (var i = 0; i < thisChoice.length; i++) {
	  if (thisChoice[i].checked) {
	    selected = thisChoice[i].value;
	    }
	}

	if (selected == game[order[curQuestion]].correct) {
	  correct++;
	  answer.innerHTML += "<img src='{{ url_for('static', filename='images/true.png') }}'>"}
	else {
	  answer.innerHTML += "<img src='{{ url_for('static', filename='images/false.png') }}'>"}
  }
  else {
    askingQuestion = true;
    submitButton.textContent = "Answer";
    if (curQuestion < game.length - 1) {
      curQuestion++;
      startGame();
    } else {
      showResult();
    }
  }
}

function showResult() {

	if (correct<game.length/2){
  finalScore.innerHTML  = "<h2>You answered " + correct + " out of " + game.length + " correctly! </h2>";
  finalScore.innerHTML += "<img width='650' height='500' src='{{ url_for('static', filename='images/fail2.png') }}'>"
  finalScore.innerHTML +="<a class='button' href='{{ url_for('t2time') }}'>Try Again</a>"
  finalScore.innerHTML +="<a class='button button2' href='{{ url_for('infoClock') }}'>Info</a>"
	}
  else{
  finalScore.innerHTML = "<h2>You answered " + correct + " out of " + game.length + " correctly! </h2>";
  finalScore.innerHTML += "<img width='650' height='500' src='{{ url_for('static', filename='images/pass.png') }}'>"
  finalScore.innerHTML +="<a class='button' href='{{ url_for('mainPage') }}'>Go Back</a>"
  }
}
window.onload = function() {startGame();}
submitButton.addEventListener("click", checkAnswer, false);
</script>

{% endblock %}