{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a class="button" href="#">TIME</a></li>
                <li class="list-group-item"><a class="button button2" href="{{ url_for('t2shapes') }}">2D SHAPES</a></li>
            </ul>
            <div class="card-footer"><a href="{{ url_for('mainPage') }}">Go Back!</a></div>
        </div>
    </div>
{% endblock %}